<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="md:container md:mx-auto">
      <button class="rounded-lg bg-green-500" onclick="add()">
        add cookie
      </button>
      <button class="rounded-lg bg-green-500" onclick="get()">
        get cookie
      </button>
      <button class="rounded-lg bg-green-500" onclick="update()">
        update cookie
      </button>
      <button class="rounded-lg bg-green-500" onclick="del()">
        del cookie
      </button>
    </div>
    <h1><%=username%></h1>
  </body>
  <script>
    function add() {
      fetch('/add', {
        method: 'post',
        headers: {
          'Content-type': 'application/json',
        },
      })
    }
    function get() {
      fetch('/get', {
        method: 'post',
        headers: {
          'Content-type': 'application/json',
        },
      })
    }
    function update() {
      fetch('/update', {
        method: 'post',
        headers: {
          'Content-type': 'application/json',
        },
      })
    }
    function del() {
      fetch('/del', {
        method: 'post',
        headers: {
          'Content-type': 'application/json',
        },
      })
    }
  </script>
</html>
